body {
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  
  color: $text-color;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.4;
  }
}

.hidden {
  visibility: hidden;
}