$main-background: #FFFFFF;
$header-background: #F5F5F9;
$footer-background: #F5F5F9;

$button-hover-background: #F5F5F9;

$red-color: #D12136;

$black-color: #000000;
$dark-color: #1A212F;
$text-color: #48494D;
$alternative-color: #A3A4A6;
$red-button-color: #FFFFFF;

$desktop-width: 1215px;

$border-color: #D7D9DF;
